<div class="d-flex flex-column p-3 text-white bg-dark" style="width: 280px;">
  <ul class="nav nav-pills flex-column mb-auto">
    <li class="nav-item">
      <a class="nav-link active" href='#'>User Content</a>
    </li>
    <li>
      <a class="nav-link text-white" href='delet_confirm'>Delete Account</a>
    </li>
  </ul>
</div>