<div class="d-flex flex-column p-3 text-white bg-dark" style="width: 280px;">
  <ul class="nav nav-pills flex-column mb-auto">
    <li>
      <%= link_to "Index", admin_admins_path, class: "nav-link text-white" %>
    </li>  
    <li class="nav-item">
      <%= link_to "User", user_admin_admins_path, class: "nav-link active" %>
    </li>
    <li>
      <%= link_to "Product", product_admin_admins_path, class: "nav-link text-white" %>
    </li>
  </ul>
</div>